<%- include("partials/header"); %>

<h1>Home</h1>

<p><%= viewHomeContent %></p>
<hr>

<% viewPosts.forEach(function(post) { %>
  <div class="container post">
    <h2><%= post.postTitle %></h2>
    <p><%= post.postContent %></p>
  </div>
<% }); %>

<%- include("partials/footer"); %>
